# Core
streamlit
pandas

# IA e Processamento de Linguagem
langchain
openai

# Processamento de Ficheiros
openpyxl
pdfplumber
pytesseract
weasyprint

# Geração de Dados
Faker

# Testes e API
azure-devops
fastapi
jinja2
msrest
pytest
selenium
uvicorn

# Base de Dados Vetorial
chromadb